In [ ]:
names = ["lohit", "param", "rahul"]

names_upper = list(map(lambda name: name.upper(),names))
print(names_upper)

['LOHIT', 'PARAM', 'RAHUL']

In [ ]:
numbers = [-5, 3, -2, 7, 0, 1, -7]
result = list(filter(lambda num: num > 0 , numbers))
print(result)

[3, 7, 1]

In [ ]:
students =[
            {"name": "A", "marks" : 85},
            {"name": "B", "marks" : 40},
            {"name": "C", "marks" : 90}
          ]
result = list(filter(lambda student: student["marks"] > 50 , students))
print(result)

[{'name': 'A', 'marks': 85}, {'name': 'C', 'marks': 90}]